@font-face {
    font-family: Granjon;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/GranjonLTStd.ttf) format('truetype');
}
@font-face {
    font-family: Granjon;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/fonts/GranjonLTStd-Bold.ttf) format('truetype');
}
@font-face {
    font-family: Granjon;
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/GranjonLTStd-Italic.ttf) format('truetype');
}